.project {
  padding: 70px 0;

  &__back-button {
    display: inline-block;
    padding: 6px 15px;
    background-color: $black;
    color: $white;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 20px;
  }

  &__back-button:hover {
    color: $white;
    text-decoration: none;
  }

  &__controller-list {
    float: right;
    padding: 10px 0;
    font-size: 0;
  }

  &__controller-item {
    position: relative;
    display: inline-block;
    line-height: 1em;
    cursor: pointer;
  }

  &__controller-item ~ &__controller-item {
    margin-left: 11px;
  }

  &__controller-item ~ &__controller-item:before {
    position: absolute;
    left: -6px;
    top: 0;
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background-color: $black;
  }

  &__controller-icon {
    vertical-align: middle;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__previous-icon {
    background-image: url(../img/arrow-left.png);
  }

  &__next-icon {
    background-image: url(../img/arrow-right.png);
  }

  &__content {
    padding: 20px 0;
  }

  &__controller-text {
    vertical-align: middle;
    padding: 0 5px;
    font-size: 1.4rem;
  }

  &__project-image {
    max-width: 100%;
  }

  &__description {
    padding: 40px;
    background-color: $lighter-gray;
  }

  &__description-title {
    margin: 0 0 30px;
  }
}