section {
  p {
    margin-bottom: 10px;
  }
}

.section {
  &__title {
    margin-bottom: 10px;
  }
}

.section-blue {
  padding: 50px 0;
  color: $white;
  background-color: $main-color;
}

.about-company {
  &__content {
    margin: 20px auto;
    max-width: 300px;

    p {
      margin-bottom: 5px;
    }
  }
}

.qualifications {
  padding: 70px 0;

  .section__title {
    color: $main-color;
  }

  &__item {
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border: 1px solid $lightest-gray;
  }

  &__one {
    background-image: url(../img/home-qualification-1.jpg);
  }

  &__two {
    background-image: url(../img/home-qualification-2.jpg);
  }

  &__three {
    background-image: url(../img/home-qualification-3.jpg);
  }
}

.introduction,
.culture,
.awards {
  padding: 70px 0;

  &__item {
    margin-bottom: 40px;
  }

  .section__title {
    color: $main-color;
  }

  &__item-title {
    margin-bottom: 0;
  }
}

.structure {
  padding: 70px 0;

  .section__title {
    color: $main-color;
  }

  &__image {
    margin: 20px auto 0;
    max-width: 750px;
  }
}

.awards {
  .section__title {
    font-size: 2.0rem;
    font-weight: bold;
  }

  &__text-list {
    padding-left: 15px;
    color: $gray;
    list-style: disc;
  }

  &__image {
    margin: 0 0 30px;
    max-width: 100%;
    box-shadow: 3px 3px 10px $light-gray;
  }
}

.contact-us {
  .section__title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__content {
    margin-top: 20px;
    margin-bottom: 20px;

    li {
      line-height: 1.8em;
    }
  }

  &__address {
    margin: 0;
  }

  &__map {
    padding: 0;
  }
}

.email-address {
  .btn {
    display: block;
    margin: 20px 0;
    width: 100%;
    min-height: 40px;
    background-color: $lighter-gray;
    border-color: $lighter-gray;
  }

  &__email {
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url(../img/contact-us-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__email-form {
    margin: 0 auto;
    max-width: 500px;
    color: $white;
  }
}

.completed-projects {
  padding: 70px 0;

  .section__title,
  .model__title {
    color: $main-color;
  }

  .section__title {
    margin-bottom: 40px;
  }

  .model__title {
    font-weight: bold;
  }

  &__model {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid $light-gray;
  }

  &__model:last-child {
    border-bottom: 0;
  }

  &__subtitle {
    margin-top: 20px;
    font-weight: bold;
  }

  &__item {
    margin: 15px 0;
  }

  &__label {
    margin-bottom: 0;
    line-height: 2em;
    color: $gray;
  }

  &__link {
    float: right;
    padding: 3px 8px;
    font-size: 12px;
    color: $white;
    background-color: $gray;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
  }

  &__link:hover {
    color: $white;
    text-decoration: none;
  }
}